.visionpro {
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.applevisionvideo {
  z-index: 1;
  margin-top: -473px;
  object-fit: cover;
}


.playypausebutton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
 
}


 
video {
  
height: 100%;
  width: 100%;
  object-fit: cover;
}

.scrollOver {
  text-align: center;
  position: relative;
  z-index: 2;
  color: white;
}

.scrollText p {
  font-size: 50px;
  font-weight: bolder;
}

.play-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #f56a0c;
  border-radius: 35px;
  padding: 13px 30px;
  color: #f56a0c;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 370px;
}

.play-button:hover {
  background-color: #f56300;
  color: white;
}

.play-button svg {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border: 3px solid #f56a0c;
  border-radius: 50%;
  padding: 2px;
  padding-left: 3px;
}

.play-button span {
  vertical-align: middle;
}




@media (max-width: 1200px){
  .visionpro {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .applevisionvideo {
    z-index: 1;
    margin-top: -538px;
    object-fit: cover;
  }
  
  video {
  
    height: 100vh;
      width: 100%;
      object-fit: cover;
    }
    
    .scrollOver {
      text-align: center;
      position: relative;
      z-index: 2;
      color: white;
    }
    
    .scrollText p {
      font-size: 50px;
      font-weight: bolder;
 
    }
    .play-button {
      display: inline-flex;
      align-items: center;
      
      margin-bottom: 300px;
    }
  
} 




@media (max-width: 992px){
  .visionpro {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .applevisionvideo {
    z-index: 1;
    object-fit: cover;
  }
  
  video {
  
    height: 100vh;
      width: 100%;
      object-fit: cover;
    }
    

     
    .scrollOver {
      text-align: center;
      position: relative;
      z-index: 2;
      color: white;
    }
    
    .scrollText p {
      font-size: 35px;
      line-height: 1.125;
      font-weight: 700;
      letter-spacing: .004em;
    }



    .play-button {
       
      padding: 10px 25px;
      color: #f56a0c;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      outline: none;
      transition: background-color 0.3s ease;
      margin-top: 10px;
      margin-bottom: 300px;
    }
    
    
    
    .play-button svg {
      margin-right: 10px;
      width: 14px;
      height: 14px;
      border: 2px solid #f56a0c;
      border-radius: 50%;
      
    }

    
    
  }



  
@media (max-width: 768px){
  .visionpro {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .applevisionvideo {
    z-index: 1;
    object-fit: cover;
  }
  
  video {
  
    height: 100vh;
      width: 100%;
      object-fit: cover;
    }
    

    
    .scrollText p {
      font-size: 28px;
      line-height: normal;
      font-weight: 700;
      letter-spacing: .007em;
    margin-top: -80px;
    }



    .play-button {
       line-height: normal;
      padding: 9px 17px;
      color: #f56a0c;
      font-size: 14px;
      font-weight: 600;
      border: 2px solid;
      margin-bottom: 120px;
    }


    .playypausebutton svg{
      height: 35px;
      width: 35px;
    
      }

}




@media (max-width: 576px){
  .applevisionvideo {
    z-index: 1;
    object-fit: cover;
  }

  .scrollText p {
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;
  }

  .play-button {
    margin-top: 40px;
   margin-bottom: 120px;
 }
}



@media (max-width: 436px){
  .scrollText p {
    position: relative;
    margin-top:-110px;
    line-height: 1.5;
  }
}