 

.vision_pro {
    text-align: center;
    overflow: hidden;
    position: relative;
    

  }
  
  
  .playpause__button {
      position: absolute;
      top: 149px;
      right: 20px;
      cursor: pointer;
      z-index: 2;
     
    }
  
 
  
  
  
  .applevision_video > video {
    height: 100vh;
    width: 100%;
  background-color: blue;
    object-fit: cover;
    z-index: 1;
    /* margin-top: 73px; */
    /* object-fit: cover; */
    position: relative;
    /* height: 100vh; */
    /* background-color: brown; */
  }
  
  .scrollTextOver {
    text-align: center;
    justify-content: center;
    position:  absolute;
    color: rgb(16, 13, 13)27, 194, 194;
   
    /* padding-top: 40px; */
    /* left: auto; */
    /* padding-bottom: 40px; */
  }
  
  .scrollTextonly {
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transform: translate(46px, -438px);
  }
  
  .scrollTextonly h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bolder;
  }
  
  .scrollTextonly p {
    font-size: 70px;
    line-height: normal;
    font-weight: bolder;
  }
  
  /* .play__button {
    display: none;
  } */
  
  /* .play__button:hover {
      background-color: #f56300;
      color: white;
    }
    
    .play__button svg {
       
      margin-right: 10px;
      width: 24px;
      height: 24px;
      border: 3px solid #f56a0c;
      border-radius: 50%;
      padding: 2px;
      padding-left: 3px;
    }
    
    .play__button span {
      vertical-align: middle;
    }
     */
  